/** Messages */
.message-box {
    border: 1px solid;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.message-box p {
    margin: 0;
}
#success_msg {
    color: #4F8A10;
    background-color: #DFF2BF;
}
#info_msg {
    color: #00529B;
    background-color: #BDE5F8;
}
#warning_msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
#error_msg {
    color: #D8000C;
    background-color: #FFBABA;
}